@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="font-family:cursive;  font-size:18px; padding-top: 40px; background-image:url('1.jpg');">

    <h1 class="display-4">     Welcome To      </h1>
    <h3><a>Singh Book Shop Hamilton </a></h3>
    <!--Adding image to Home page-->
    <img src="~/lib/img/1.jpg" style="width:800px; height:600px"> 
</div>
